/* [next]/internal/font/google/lora_27cb588.module.css [app-client] (css) */
@font-face {
  font-family: __Lora_27cb58;
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIhMX1D_JOuMw_LLPtLtfOm84TX-s.2bd6e606.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIhMX1D_JOuMw_LJftLtfOm84TX-s.d79a2eaf.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIhMX1D_JOuMw_LXftLtfOm84TX-s.9bd9f114.woff2") format("woff2");
  unicode-range: U+302-303, U+305, U+307-308, U+330, U+391-3A1, U+3A3-3A9, U+3B1-3C9, U+3D1, U+3D5-3D6, U+3F0-3F1, U+3F4-3F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE??;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIhMX1D_JOuMw_LT_tLtfOm84TX-s.8aa39a67.woff2") format("woff2");
  unicode-range: U+1-C, U+E-1F, U+7F-9F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+28??, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B??, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F0??, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F7??, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB??;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIhMX1D_JOuMw_LLvtLtfOm84TX-s.59b12f7f.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIhMX1D_JOuMw_LL_tLtfOm84TX-s.60c82ebc.woff2") format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIhMX1D_JOuMw_LIftLtfOm8w-s.p.a6340243.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIvMX1D_JOuMwf7I_FMl_GW8g-s.bc6763b4.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIvMX1D_JOuMw77I_FMl_GW8g-s.2905e01a.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIvMX1D_JOuM3b7I_FMl_GW8g-s.444de759.woff2") format("woff2");
  unicode-range: U+302-303, U+305, U+307-308, U+330, U+391-3A1, U+3A3-3A9, U+3B1-3C9, U+3D1, U+3D5-3D6, U+3F0-3F1, U+3F4-3F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE??;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIvMX1D_JOuM2T7I_FMl_GW8g-s.e6123712.woff2") format("woff2");
  unicode-range: U+1-C, U+E-1F, U+7F-9F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+28??, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B??, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F0??, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F7??, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB??;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIvMX1D_JOuMwX7I_FMl_GW8g-s.516bde9d.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIvMX1D_JOuMwT7I_FMl_GW8g-s.f9d815ec.woff2") format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: __Lora_27cb58;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../media/0QIvMX1D_JOuMwr7I_FMl_E-s.p.457a0745.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: __Lora_Fallback_27cb58;
  src: local(Times New Roman);
  ascent-override: 87.33%;
  descent-override: 23.78%;
  line-gap-override: 0.0%;
  size-adjust: 115.2%;
}

.lora_27cb588-module__ehAd1q__className {
  font-family: __Lora_27cb58, __Lora_Fallback_27cb58;
}


/* [project]/apps/web/app/globals.css [app-client] (css) */
*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: JetBrains Mono Variable, JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.flex {
  display: flex;
}

.h-fit {
  height: fit-content;
}

.min-h-screen {
  min-height: 100vh;
}

.w-fit {
  width: fit-content;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-36 {
  gap: 36px;
}

.border {
  border-width: 1px;
}

.border-b-black {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.bg-light-bg-1 {
  background-color: #ccc;
}

.bg-light-fg-1 {
  background-color: #d4d4d4;
}

.p-32 {
  padding: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.text-h1 {
  font-size: 3.125rem;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.italic {
  font-style: italic;
}


/* [project]/node_modules/.pnpm/@bibleio+design@1.1.0_@types+react-dom@18.3.0_@types+react@18.3.4_react-dom@19.0.0-rc-f994737_eqh5nazoubdicyijyhvgwoau4a/node_modules/@bibleio/design/dist/index.css [app-client] (css) */
*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: JetBrains Mono Variable, JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0;
}

.z-50 {
  z-index: 50;
}

.mt-4 {
  margin-top: 4px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.size-20 {
  width: 20px;
  height: 20px;
}

.size-\[30px\] {
  width: 30px;
  height: 30px;
}

.size-full {
  width: 100%;
  height: 100%;
}

.h-12 {
  height: 12px;
}

.h-24 {
  height: 24px;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[50vh\] {
  height: 50vh;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.max-h-\[512px\] {
  max-height: 512px;
}

.w-12 {
  width: 12px;
}

.w-24 {
  width: 24px;
}

.w-\[2px\] {
  width: 2px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[50vw\] {
  width: 50vw;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-128 {
  min-width: 128px;
}

.grow {
  flex-grow: 1;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: .15s ease-out scale-in;
}

@keyframes scale-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(.95);
  }
}

.animate-scale-out {
  animation: .15s ease-out scale-out;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.touch-none {
  touch-action: none;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0 {
  gap: 0;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-x-8 {
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-b-4 {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rounded-t-4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-light-stroke {
  border-color: #000;
}

.bg-dark-blue {
  background-color: #00507c;
}

.bg-dark-green {
  background-color: #268245;
}

.bg-dark-red {
  background-color: #802525;
}

.bg-dark-yellow {
  background-color: #8d7820;
}

.bg-light-accent {
  background-color: #00507c;
}

.bg-light-fg-2 {
  background-color: #ddd;
}

.bg-light-stroke {
  background-color: #000;
}

.bg-light-stroke\/30 {
  background-color: #0000004d;
}

.fill-black {
  fill: #000;
}

.fill-dark-accent {
  fill: #00a3ff;
}

.fill-light-accent {
  fill: #00507c;
}

.p-16 {
  padding: 16px;
}

.p-32 {
  padding: 32px;
}

.p-4 {
  padding: 4px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.font-mono {
  font-family: JetBrains Mono Variable, JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.font-serif {
  font-family: Lora Variable, Lora, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}

.text-body {
  font-size: .9375rem;
}

.text-h1 {
  font-size: 3.125rem;
}

.text-h2 {
  font-size: 2rem;
}

.text-h3 {
  font-size: 1.5625rem;
}

.text-h4 {
  font-size: 1.1875rem;
}

.text-mono {
  font-size: .875rem;
}

.text-sub {
  font-size: .75rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.leading-\[220\%\] {
  line-height: 220%;
}

.leading-none {
  line-height: 1;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-light-accent {
  color: #00507c;
}

.text-light-text {
  color: #000;
}

.text-light-text\/80 {
  color: #000c;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.placeholder-light-text-subtle::-moz-placeholder {
  color: #00000054;
}

.placeholder-light-text-subtle::placeholder {
  color: #00000054;
}

.shadow-light-coloured-component {
  --tw-shadow: 0px -9px 12.2px 0px #ffffff1a inset, 0px 3px 4.7px 0px #ffffff1a inset, 0px 0px 3.7px 1px #ffffff1a inset, 0px 2px 7.8px 0px #0003;
  --tw-shadow-colored: inset 0px -9px 12.2px 0px var(--tw-shadow-color), inset 0px 3px 4.7px 0px var(--tw-shadow-color), inset 0px 0px 3.7px 1px var(--tw-shadow-color), 0px 2px 7.8px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-light-material-component {
  --tw-shadow: 0px -6px 8.6px 2px #0000001a inset, 0px 1px 6.3px 0px #00000040 inset, 0px 2px 9.4px 0px #0000001a;
  --tw-shadow-colored: inset 0px -6px 8.6px 2px var(--tw-shadow-color), inset 0px 1px 6.3px 0px var(--tw-shadow-color), 0px 2px 9.4px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

.outline-1 {
  outline-width: 1px;
}

.transition-transform {
  transition-property: transform;
}

.duration-150 {
  transition-duration: .15s;
}

.duration-\[300ms\] {
  transition-duration: .3s;
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
}

.will-change-transform {
  will-change: transform;
}

.after\:block:after {
  content: var(--tw-content);
  display: block;
}

.after\:size-16:after {
  content: var(--tw-content);
  width: 16px;
  height: 16px;
}

.after\:rounded-full:after {
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-light-accent:after {
  content: var(--tw-content);
  background-color: #00507c;
}

.after\:content-\[\'\'\]:after {
  --tw-content: "";
  content: var(--tw-content);
}

.hover\:-translate-y-\[2px\]:hover {
  --tw-translate-y: -2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.focus\:border-light-accent:focus {
  border-color: #00507c;
}

.focus-visible\:outline-light-accent:focus-visible {
  outline-color: #00507c;
}

.active\:translate-y-4:active {
  --tw-translate-y: 4px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.disabled\:pointer-events-none:disabled {
  pointer-events: none;
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:border-light-stroke-disabled:disabled {
  border-color: #00000040;
}

.disabled\:bg-light-fg-disabled:disabled {
  background-color: #d4d4d480;
}

.disabled\:opacity-50:disabled {
  opacity: .5;
}

.data-\[disabled\]\:pointer-events-none[data-disabled] {
  pointer-events: none;
}

.data-\[orientation\=\'horizontal\'\]\:h-full[data-orientation="horizontal"] {
  height: 100%;
}

.data-\[orientation\=\'vertical\'\]\:h-12[data-orientation="vertical"] {
  height: 12px;
}

.data-\[orientation\=\'vertical\'\]\:h-full[data-orientation="vertical"] {
  height: 100%;
}

.data-\[orientation\=\'vertical\'\]\:w-24[data-orientation="vertical"] {
  width: 24px;
}

.data-\[orientation\=\'vertical\'\]\:w-\[2px\][data-orientation="vertical"] {
  width: 2px;
}

.data-\[orientation\=\'vertical\'\]\:w-full[data-orientation="vertical"] {
  width: 100%;
}

.data-\[highlighted\]\:translate-x-4[data-highlighted] {
  --tw-translate-x: 4px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-\[state\=checked\]\:translate-x-\[20px\][data-state="checked"] {
  --tw-translate-x: 20px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.data-\[state\=\'checked\'\]\:animate-scale-in[data-state="checked"] {
  animation: .15s ease-out scale-in;
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.data-\[state\=\'open\'\]\:animate-scale-in[data-state="open"] {
  animation: .15s ease-out scale-in;
}

@keyframes scale-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(.95);
  }
}

.data-\[state\=\'unchecked\'\]\:animate-scale-out[data-state="unchecked"] {
  animation: .15s ease-out scale-out;
}

.data-\[disabled\]\:cursor-not-allowed[data-disabled] {
  cursor: not-allowed;
}

.data-\[orientation\=\'vertical\'\]\:flex-col[data-orientation="vertical"] {
  flex-direction: column;
}

.data-\[state\=\'open\'\]\:rounded-b-4[data-state="open"] {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.data-\[disabled\]\:border-light-stroke-disabled[data-disabled] {
  border-color: #00000040;
}

.data-\[disabled\]\:bg-light-fg-disabled[data-disabled] {
  background-color: #d4d4d480;
}

.data-\[disabled\]\:bg-light-stroke-disabled[data-disabled] {
  background-color: #00000040;
}

.data-\[state\=checked\]\:bg-light-accent[data-state="checked"] {
  background-color: #00507c;
}

.data-\[state\=\'checked\'\]\:font-semibold[data-state="checked"] {
  font-weight: 600;
}

.data-\[disabled\]\:text-light-text-subtle[data-disabled] {
  color: #00000054;
}

.data-\[state\=\'checked\'\]\:text-light-accent[data-state="checked"] {
  color: #00507c;
}

.data-\[disabled\]\:opacity-30[data-disabled] {
  opacity: .3;
}

.data-\[disabled\]\:opacity-\[0\.33\][data-disabled] {
  opacity: .33;
}

.data-\[disabled\]\:contrast-50[data-disabled] {
  --tw-contrast: contrast(.5);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@keyframes scale-in {
  from {
    content: var(--tw-content);
    opacity: 0;
    transform: scale(.95);
  }

  to {
    content: var(--tw-content);
    opacity: 1;
    transform: scale(1);
  }
}

.after\:data-\[state\=\'checked\'\]\:animate-scale-in[data-state="checked"]:after {
  content: var(--tw-content);
  animation: .15s ease-out scale-in;
}

@keyframes scale-out {
  from {
    content: var(--tw-content);
    opacity: 1;
    transform: scale(1);
  }

  to {
    content: var(--tw-content);
    opacity: 0;
    transform: scale(.95);
  }
}

.after\:data-\[state\=\'unchecked\'\]\:animate-scale-out[data-state="unchecked"]:after {
  content: var(--tw-content);
  animation: .15s ease-out scale-out;
}

.dark\:border-dark-stroke:is([data-mode="dark"] *) {
  border-color: #ffffff1a;
}

.dark\:bg-dark-accent:is([data-mode="dark"] *) {
  background-color: #00a3ff;
}

.dark\:bg-dark-fg-2:is([data-mode="dark"] *) {
  background-color: #262626;
}

.dark\:bg-dark-stroke:is([data-mode="dark"] *) {
  background-color: #ffffff1a;
}

.dark\:bg-light-blue:is([data-mode="dark"] *) {
  background-color: #00a3ff;
}

.dark\:bg-light-green:is([data-mode="dark"] *) {
  background-color: #4ed97d;
}

.dark\:bg-light-red:is([data-mode="dark"] *) {
  background-color: #f45252;
}

.dark\:bg-light-yellow:is([data-mode="dark"] *) {
  background-color: #fcd05f;
}

.dark\:bg-white\/10:is([data-mode="dark"] *) {
  background-color: #ffffff1a;
}

.dark\:fill-dark-accent:is([data-mode="dark"] *) {
  fill: #00a3ff;
}

.dark\:fill-light-accent:is([data-mode="dark"] *) {
  fill: #00507c;
}

.dark\:fill-white:is([data-mode="dark"] *) {
  fill: #fff;
}

.dark\:text-black:is([data-mode="dark"] *) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.dark\:text-dark-accent:is([data-mode="dark"] *) {
  color: #00a3ff;
}

.dark\:text-dark-text:is([data-mode="dark"] *) {
  color: #dedede;
}

.dark\:text-dark-text\/80:is([data-mode="dark"] *) {
  color: #dededecc;
}

.dark\:text-white:is([data-mode="dark"] *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:placeholder-dark-text-subtle:is([data-mode="dark"] *)::-moz-placeholder {
  color: #dedede4d;
}

.dark\:placeholder-dark-text-subtle:is([data-mode="dark"] *)::placeholder {
  color: #dedede4d;
}

.dark\:shadow-dark-coloured-component:is([data-mode="dark"] *) {
  --tw-shadow: 0px -9px 12.2px 0px #0003 inset, 0px 3px 4.7px 0px #0003 inset, 0px 0px 3.7px 1px #0003 inset, 0px 2px 7.8px 0px #0003;
  --tw-shadow-colored: inset 0px -9px 12.2px 0px var(--tw-shadow-color), inset 0px 3px 4.7px 0px var(--tw-shadow-color), inset 0px 0px 3.7px 1px var(--tw-shadow-color), 0px 2px 7.8px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark\:shadow-dark-material-component:is([data-mode="dark"] *) {
  --tw-shadow: 0px -6px 8.6px 2px #0000001a inset, 0px 1px 6.3px 0px #00000040 inset, 0px 2px 9.4px 0px #0000001a;
  --tw-shadow-colored: inset 0px -6px 8.6px 2px var(--tw-shadow-color), inset 0px 1px 6.3px 0px var(--tw-shadow-color), 0px 2px 9.4px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark\:after\:bg-dark-accent:is([data-mode="dark"] *):after {
  content: var(--tw-content);
  background-color: #00a3ff;
}

.dark\:focus\:border-dark-accent:focus:is([data-mode="dark"] *) {
  border-color: #00a3ff;
}

.dark\:disabled\:border-dark-stroke-disabled:disabled:is([data-mode="dark"] *) {
  border-color: #ffffff0a;
}

.dark\:disabled\:bg-dark-fg-disabled:disabled:is([data-mode="dark"] *) {
  background-color: #21212180;
}

.dark\:data-\[disabled\]\:border-dark-stroke-disabled[data-disabled]:is([data-mode="dark"] *) {
  border-color: #ffffff0a;
}

.dark\:data-\[disabled\]\:bg-dark-fg-disabled[data-disabled]:is([data-mode="dark"] *) {
  background-color: #21212180;
}

.dark\:data-\[disabled\]\:bg-dark-stroke-disabled[data-disabled]:is([data-mode="dark"] *) {
  background-color: #ffffff0a;
}

.dark\:data-\[state\=checked\]\:bg-dark-accent[data-state="checked"]:is([data-mode="dark"] *) {
  background-color: #00a3ff;
}

.dark\:data-\[disabled\]\:text-dark-text-subtle[data-disabled]:is([data-mode="dark"] *) {
  color: #dedede4d;
}

.dark\:data-\[disabled\]\:brightness-50[data-disabled]:is([data-mode="dark"] *) {
  --tw-brightness: brightness(.5);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__f7162f._.css.map*/
